* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman';
  box-sizing: border-box
}

.createPostPage {
    background-color: rgb(227, 246, 253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 89.5vh;
  }
  
  .createPostPage h3
  {
    color: #666;
  }
  .createPostContainer {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width:50%;
    height: 80%;
  }
  
  
  
  .createPostContainer h2 {
    color: black;
    margin-bottom: 25px;
  }
  
  .inputGp {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .inputGp label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 550;
  }
  
  .inputGp input
   {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .inputGp textarea
  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 180px;
  }
  
  .buttonContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .buttonContainer button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttonContainer button:hover {
    background-color: #0056b3;
  }
  